.image {
  margin-top: 145px;
  margin-bottom: 40px;
}

.acquaintance__title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 10px;
  color: $textAccentColor;
}

.acquaintance__semiTitle {
  font-size: 22px;
  line-height: 1.2727;
  margin-bottom: 21px;
  color: $textAccentColor;
}

.acquaintance__text {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 32px;
  font-family: "Nunito", sans-serif;
  color: $textAccentColor;
}
