.button {
  width: 148px;
  height: 50px;
  background-color: $primaryButtonColor;
  border-radius: 80px;
  border: none;
}

.button:disabled {
  background-color: $disabled;
  color: $primaryBgColor;
}

.button__text {
  font-family: "Asap", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
