.form__wrapper {
  padding-top: 145px;
}

.form {
  margin-bottom: 43px;
}

.form__title {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.form__titleContainer {
  width: 295px;
  margin: 0 auto 10px;
}

.form__text {
  margin-bottom: 32px;
  text-align: center;
  font-size: 22px;
  line-height: 1.2727;
}

.form__radio-wrapper {
  display: flex;
  align-items: center;

  & p {
    margin-left: 12px;
    color: #7e7e7e;
  }

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.inputs {
  width: 100%;
  height: 54px;
  padding: 8px 12px;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: $secondaryButtonColor;
  }

  &:not(:placeholder-shown):required:invalid {
    border-color: red;
  }

  &:not(:placeholder-shown):required:invalid ~ .register__labelText {
    color: red;
  }
}

.form__selectPosition {
  margin-bottom: 11px;
}

.form__radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.paws {
  width: 328px;
  height: 124px;
  margin-left: auto;
  background-image: url(../../img/paws.svg);
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 16px;
}

.register__labelText {
  position: absolute;
  top: 50%;
  left: 12px;
  padding: 0 4px;
  transform: translateY(-50%);
  color: #7e7e7e;
  z-index: 1;
  transition: font-size 300ms ease-in, transform 300ms ease-in,
    color 500ms ease-in;

  .register__label:hover &,
  .register__label:focus &,
  .inputs:not(:placeholder-shown) + & {
    transform: translateY(-170%);
    font-size: 14px;
    background-color: #f8f8f8;
    color: $secondaryButtonColor;
  }
}

.register__label {
  position: relative;
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.register__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.customRadioBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $radio;
}

.form__radio-input {
  position: absolute;
  appearance: none;

  &:checked + span {
    border: 1px solid $secondaryButtonColor;
  }

  &:checked + span > span {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondaryButtonColor;
  }
}
.upload {
  display: flex;
  margin-bottom: 50px;
}
.upload__button {
  width: 83px;
  height: 54px;
  padding: 14px;
  border: 1px solid $textAccentColor;
  border-radius: 4px 0 0 4px;
}

.upload__input {
  height: 54px;
  padding: 14px 16px;
  width: 100%;
  border: 1px solid $radio;
  border-radius: 4px;
  border-left: none;
}

.signUp-btn {
  margin: 0 auto 25px;
  width: 148px;
  height: 50px;
  background-color: $disabled;
  border-radius: 80px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.625;
}
