.hero {
  min-width: 360px;
  max-width: 1170px;
  height: 469px;
  padding: 51px 0px;
  background-image: url(../../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../../img/hero@2x.jpg);
      // background-size: 360px auto;
    }
  }
}

.hero__container {
  width: 240px;
  height: 160px;
  margin-bottom: 21px;
}

.hero__title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 21px;
}

.hero__text {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 32px;
}
