.hero {
  min-width: 360px;
  max-width: 1170px;
  height: 469px;
  padding: 51px 0px;
  margin-top: 60px;
  background-image: url(../../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Добавляю поддержку ретина изображиний
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../../img/hero@2x.jpg);
    }
  }

  &__container {
    width: 240px;
    height: 160px;
    margin-bottom: 22px;
  }

  &__textContainer {
    width: 240px;
    height: 104px;
    margin-bottom: 32px;
  }

  &__title {
    height: 160px;
    margin-bottom: 21px;
  }

  &__text {
    margin-bottom: 32px;
  }

  .points {
    overflow: hidden;
    text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 4;
  }
}

.hero.shift {
  -webkit-margin-bottom-collapse: -28px;
}
