.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.picture {
  width: 38px;
  height: 26px;
}

.menuButton {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url(../../img/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryBgColor;
}
