.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;

  & > img {
    margin-left: 1px;
  }
}

.picture {
  width: 38px;
  height: 26px;
}

.menuButton {
  padding: 0;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url(../../img/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 3px;
  min-width: 360px;
  width: 100%;
  max-width: 1170px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryBgColor;
}
