.mobile__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 945px;
  background-color: $primaryBgColor;
}

.mobile__background {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-101%);
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease-in;
}

.is-open {
  transform: translateX(0);
  z-index: 3;
  overflow-y: scroll;
}

.header > .mobile__background.is-open ~ .hero {
  margin-top: -28px;
}

.mobile__bottom {
  width: 100vw;
  height: 51px;
  background-color: black;
}

.mobile__section {
  margin-top: 60px;
}
