.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 489px;
}

.navigation__wrapper {
  width: 489px;
  margin-left: auto;
}

.navigation__item-link {
  color: #000;
  font-size: 16px;
  line-height: 1.625;
}
