.users__title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
}

.users__semiTitle {
  font-size: 22px;
  line-height: 1.2727;
  text-align: center;
}

.users__list {
  margin-top: 32px;
  margin-bottom: 50px;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 31% 31% 31%;
    gap: 29px;
  }
}

@media (max-width: 767px) {
  // .users__item:first-of-type {

  // }

  .users__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.users__wrapper {
  padding-top: 0;
}

.users__button {
  width: 148px;
  margin-left: auto;
  margin-right: auto;
}
