.userCard__thumb {
  height: 313px;
  padding: 36px 30px 28px;
  border-radius: 10px;
  background-color: $primaryBgColor;
}

.userCard__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-size: 70px 70px;
  background-color: tomato;
  margin: 0 auto 15px;
}

.userCard__title {
  font-size: 22px;
  line-height: 1.2727;
  text-align: center;
  margin-bottom: 4px;
}

.userCard__text {
  text-align: center;
}

// Добавляем троеточие после двух радов
.twoRows {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

//   Добавляем троеточие после одного ряда
.oneRow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.userCard__wrapper {
  width: 298px;
}
