html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 1;
}

h2 {
  font-size: 22px;
  line-height: 1.2727;
}

p {
  /* font-family: "Asap", sans-serif; */
  font-size: 16px;
  line-height: 1.625;
}

main {
  font-weight: 400;
}
